.header {
  border-bottom: 1px solid #ececec;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

.header__flex,
.nav,
.nav__list {
  display: flex;
  align-items: center;
}

// .header__flex,
// .nav,
// .nav__list,
// .contacts {
//   align-items: center;
// }

.nav {
  margin-right: auto;

  &__item {
    flex-basis: calc((100% - 100px) / 3);
  }
}

.nav__list {
  gap: 50px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }
  &.current {
    color: var(--main-accent-color);
    position: relative;
  }
}

.list {
  list-style: none;
}

// .nav__link.current {
//   color: var(--main-accent-color);
//   position: relative;
// }

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background: currentColor;
  border-radius: 2px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.contacts__link {
  display: flex;
  color: var(--main-text-color);
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-decoration: none;
  /* identical to box height */
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.contacts__icon {
  fill: currentColor;
}

.menu-open {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  border: transparent;
  background: inherit;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 8px;

  border: transparent;
  background-color: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--main-accent-color);
  }
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-accent-color);
  }

  &.current {
    color: var(--main-accent-color);
  }

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
}

.mob-contacts {
  margin-bottom: 64px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
      color: var(--main-accent-color);
      font-size: 34px;
    }
  }
}

.mob-soc {
  display: flex;
  gap: 20px;

  &__link {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    padding-right: 10px;
    /* identical to box height, or 122% */

    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-accent-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
  }
}

.mob-soc__link--border {
  border: transparent;
}
