.hero {
  //  padding-top: 200px;
  // padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--second-bgc-color);

  &__title {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    // font-size: 44px;
    font-size: 26px;
    width: 696px;

    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
  }

  &--padding {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

// .hero {
//   background-color: var(--second-bgc-color);
// }

// .hero__title {
//   margin-bottom: 30px;
//   margin-right: auto;
//   margin-left: auto;
//   font-weight: 900;
//   font-size: 44px;
//   width: 696px;

//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--third-text-color);
// }

.btn {
  border: 1px solid transparent;
}

.btn-hero {
  padding: 10px 32px;
  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--btn-text-color);
  background-color: var(--btn-bgc-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--secondary-accent-color);
  }
}
