.filter__list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

/* .filter-item {
  flex-basis:calc((100% - 32px) / 5);
} */

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio__link {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
}



.filter__btn {
  padding: 6px 22px;
  /* min-width: 73px; */

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--second-btn-bgc-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  color: var(--btn-text-color);
  background-color: var(--main-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
}



/*------------------PORTFOLIO----------------*/

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__attachment {
  position: relative;
  overflow: hidden;
}

.overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  .portfolio__link:hover &,
.portfolio__link:focus & {
  transform: translateY(0);
}
}


