:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;

  --main-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;

  --logo-color: #000000;
  --footer-logo-color: #ffffff;
  --secondary-logo-color: #2196f3;

  --first-bgc-color: #ffffff;
  --second-bgc-color: #2f303a;
  --third-bgc-color: #f5f4fa;

  --btn-bgc-color: #2196f3;
  --btn-text-color: #ffffff;
  --second-btn-bgc-color: #f5f4fa;

  --adrress-link-color: rgba(255, 255, 255, 0.6);
}
